/*Colors*/
/*Primary*/
/*Neutral*/
/*Element Sizes*/
/*Mixins*/
/*Mixins*/
/*Fonts*/
/*Body Copy*/
/*Body*/
.logoBrand {
  width: 220px;
  height: 28px;
}

.background-img {
  /*@include resizeImageX(1);*/
  position: relative;
  display: block;
  z-index: 1;
  width: 1199px;
  max-width: 500px;
  height: 946;
  max-height: 400px;
  -o-object-fit: none;
     object-fit: none;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.navbar .custom-btn {
  padding: 0px 10px;
  height: 48px;
  width: 175px;
  border: none;
  border-radius: 30px;
  background: #75e96a;
  /* Old browsers */
  /* FF3.6+ */
  /* Chrome,Safari4+ */
  /* Chrome10+,Safari5.1+ */
  /* Opera 11.10+ */
  /* IE10+ */
  background: -webkit-gradient(linear, left top, right top, from(#75e96a), to(#1896ac));
  background: linear-gradient(to right, #75e96a 0%, #1896ac 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
  /* IE6-9 */
  color: #ffffff;
  font-weight: bolder;
  font-size: 15px;
}

.navbar .navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: white;
}

.navbar .navbar-nav .nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #9698a6;
  font-weight: bolder;
  font-size: 15px;
}

.section-start {
  background-color: #fafafa;
}

.section-start .section-start-left {
  position: absolute;
  padding-top: 100px;
  padding-left: 120px;
  padding-right: 30px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.boxstart {
  margin-top: 10px;
  display: block;
  position: relative;
  z-index: 0;
}

.boxstart .crop {
  position: absolute;
  z-index: 0;
  width: 650px;
  height: 500px;
  overflow: hidden;
}

.boxstart .crop img {
  width: 1000px;
  height: 700px;
  margin: -190px 0 0 0;
}

.boxstart .crop2 {
  position: relative;
  z-index: 1;
  width: 500px;
  height: 500px;
  /*margin-bottom: -20px;*/
  overflow: hidden;
  margin-left: 150px;
}

.boxstart .crop2 img {
  width: 600px;
  height: 700px;
  margin: -20px 0 0 0;
  overflow: -5px 0 0 0;
}

.custom-btn {
  padding: 0px 10px;
  height: 48px;
  width: 175px;
  border: none;
  border-radius: 30px;
  background: #75e96a;
  /* Old browsers */
  /* FF3.6+ */
  /* Chrome,Safari4+ */
  /* Chrome10+,Safari5.1+ */
  /* Opera 11.10+ */
  /* IE10+ */
  background: -webkit-gradient(linear, left top, right top, from(#75e96a), to(#1896ac));
  background: linear-gradient(to right, #75e96a 0%, #1896ac 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
  /* IE6-9 */
  color: #ffffff;
  font-weight: bolder;
  font-size: 15px;
}

/*Media Query*/
@media screen and (min-width: 768px) {
  /*Section see how*/
}
/*# sourceMappingURL=style.css.map */