

/*Colors*/


/*Primary*/


$DarkBlue: hsl(233,26%,24%);
$LimeGreen: hsl(136, 65%, 51%);
$BrightCyan: hsl(192,70%,51%);

/*Neutral*/
$GrayishBlue: hsl(233,8%,62%);
$LightGryishBlue: hsl(220,16%,96%);
$VeryLightGray: hsl(0, 0%,98%);
$White: hsl(0,0%,100%);

$color: hsl(125,6%,35%);

/*Element Sizes*/
$desktop: 768px;

/*Mixins*/
// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

/*Mixins*/


/*Media Query*/
/*********************
BREAKPOINTS
*********************/
/* 
@include breakpoint(breakpointname) {
		 Styles 
	}

*/

@mixin desktop {
    @media screen and (min-width: 968px) {
        @content;
    }
}

@mixin mobile {
    @media screen and (min-width: 768px) {
        @content;
    }
}


@mixin linearGradient($top, $bottom){
    background: $top; /* Old browsers */
    background: -moz-linear-gradient(left,  $top 0%, $bottom 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left, right, color-stop(0%,$top), color-stop(100%,$bottom)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top left,  $top 0%,$bottom 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  $top 0%,$bottom 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  $top 0%,$bottom 100%); /* IE10+ */
    background: linear-gradient(to right,  $top 0%,$bottom 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

@mixin btnTextColor($color){
    color:$color;
    font-weight: bolder;
    font-size: 15px;

}

@mixin navbarText($color){

    display: flex;
    flex-direction: column;
    justify-content: center;
    color:$GrayishBlue;
    font-weight: bolder;
    font-size: 15px;
    
}

/*Fonts*/

/*Body Copy*/

/*Body*/
$PublicSans: 'Public Sans';

.container-fluid{

    width:99%;
}


.logoBrand{
    width:220px;
    height: 28px;
    

}

.background-img{
    /*@include resizeImageX(1);*/
    position: relative;
    display: block;
    z-index: 1;
    width: 100%;
    max-width: 500px;
    height: 946;
    max-height: 400px;   
    object-fit: none; 
}



.navbar{
    display: flex;
    justify-content: space-around;

    .custom-btn {
        
        padding: 0px 10px;
        height: 48px;
        width: 175px;
        border: none;
        border-radius: 30px;
//@include filter-gradient(#7cbc0a, #9dd53a, horizontal); // IE6-9 fallback on horizontal gradient
@include linearGradient(#75e96a, #1896ac);
@include btnTextColor(#ffffff);

    }


    .navbar-nav {

        display: flex;
        flex-direction: row;
        align-content: center;
        background-color: $White;
    
        .nav-link{
            @include navbarText($GrayishBlue);
            
            }
    }


}

.section-start{
    width: 100%;    
    height:665px;
    //position: absolute;
    
    
    z-index: -1;
    background-color: $VeryLightGray;

        
        .section-start-left{
            position: absolute;
            z-index: 1;
            //overflow: visible visible;
            padding-top: 100px;
            padding-left: 120px;
            
            height: 400px;
            width: 600px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items:left;
            
            
            
        }

    }

    .section-start-right{
        
        height:700px;
        width:98%;
        
    }

 
    
        .crop {
            position: relative;
            
            z-index: 2;

            width: 920px;
            height: 700px;
            overflow:hidden  hidden;
            margin-left: -40px;
            //margin-left: 50px;
            
            //object-fit: none;
            //object-position: center;
        }
    
        .crop img {
            width: 1130px;
            height: 910px;
            margin: -240px 0 0 0px;
            

            
        }

        .crop2 {
            position:absolute;
            z-index: 2;
            overflow:hidden hidden;
         //   overflow-x: hidden;
            
            width: 656px;
            height: 900px;
           
            margin-left: 50px;
            
        }
        
        .crop2 img {
            padding: 0;
            width: 800px;
            height: 980px;
            margin: -120px 0 0 0;
            
          
        }
       
    
   
 .section-cards{
    padding:150px 0 0 100px; 
    height:500px;
    background-color: $LightGryishBlue;
    .card-container{
        padding:30px; 
        display:flex;
        flex-direction: row;
        
        .card{
        background-color: $LightGryishBlue;
            border:none;
            width: 400px;
            height: 200px;
            .card-img-top{
                height: 100px;
                width: 100px;
                margin: 5px 0 0 10px;
                    .card-body{

                            .card-title{
                                .card-text{
                                    color:$LightGryishBlue;
                                }

                            }
                    }

            }
        } 
    }
}



.custom-btn {
        
    padding: 0px 10px;
    height: 48px;
    width: 175px;
    border: none;
    border-radius: 30px;
//@include filter-gradient(#7cbc0a, #9dd53a, horizontal); // IE6-9 fallback on horizontal gradient
@include linearGradient(#75e96a, #1896ac);
@include btnTextColor(#ffffff);

}




